<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="https://github.com/betatim/build-a-binder">
                  <i class="fa fa-github" aria-hidden="true"></i>
                  Visit repository
                </a></li>
          </ul>
        </div>
        <p>Original design by <a href="http://www.themefisher.com">Themefisher</a>.</p>
      </div>
    </div>
  </div>
</footer>
